body {
  background-position: 50% 60%;
  background-color:  #404040;
  background-image: url("BG_Pic.png");
  background-size: auto;
}
h1 {
  border-radius: 25px;
  border-style: double;
  border-color: black;
  box-shadow: 2px 2px black;
  background: grey;
  padding: 15px;
  width: 240px;
  height: 30px;
  margin-right: 0px;
  margin-left: auto;
  display: block;

  text-align: left;
  font-family: Copperplate Gothic Light, Copperplate,fantasy;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  text-shadow: 2px 2px black;
  color: white;
}
